.form{
    background:#F0F8FF ;
    padding: 8px;
    border-radius: 3px;
    position: relative;
    display: flex;
    flex-direction: column;
    max-width: 600px;
    justify-content: center;
    align-items:center;
    margin:0 auto; 
}
.errors{
    color: red;
    font-weight: 600;
}
.button{
    margin: 0;
    padding: 7px 15px 7px 15px;
    font-size: medium;
    background: yellow;
    border:0;
    border-radius: 3px;
    cursor: pointer;
}
.button:hover{
    background: purple;
    color: #F0F8FF;
    transition:all 0.3s ease-in-out;
}
.label{
    font-size: 20px;
    margin-bottom: 2px;
    padding: 2px;
    color: purple;
    font-weight: 700;
    font-family: monospace;
}
.input{
    border: medium solid rgb(120, 96, 255);
    width: 200px;
}