.container{
    border-radius: 8px;
    background: rgba(76, 175, 80, 0.9);
    opacity: 90%;
    width: 100%;
    height: auto;
    display: flex;
    flex-direction: column; 
    padding: 10px; 
}
.closeButton{
    position: absolute;
    
    width:25px;
    border: 0;
    background: rgb(234, 0, 0);
    color: #fff;
    font-size: 15px;
    font-weight:200; 
    cursor: pointer;   
    border-radius: 2px;
    height: 25px;
}
.likeButton{
    align-self: center;
    width:40px;
    border: 0;
    background:purple;
    color: #fff;
    font-size: 25px;
    font-weight:200; 
    cursor: pointer;   
    border-radius: 2px;
    height: 35px;
}
.h2{
    text-decoration: none;
    margin: 4px;
    align-self: center;
    font-weight: 900;
    font-size: 30px;
}
.p{
    margin: 3px;
    align-self:center;
    font-weight: 900;
    font-size: 20px;
}
.closeButton:hover{
    background-color: rgb(255, 74, 74);
}
.img{
    margin: 4px;
}
.likeButton:hover{
    
}