.searchInput {
    border: 0px;
    height: 2em;
}

.searchButton{
    padding: 5px;
    font-size: 16px; 
    margin-left: 4px;
    font-weight: 500;
    border: 0;
    background: yellow;
    cursor: pointer;
    border-radius: 3px;
}

.searchButton:hover{
    background: purple;
    color: #F0F8FF;
    transition:all 0.3s ease-in-out;
}