.favorites{
    margin: 0 auto;
    width: 800px;
    display: flex;
    flex-direction: column;
}
.container{
    display: grid;
    grid-template-columns: repeat(auto-fill,minmax(200px,1fr));
    gap: 20px;
    max-width: 800px;
    margin: 0 auto;
}
.h1{
    align-self: center;
    background: rgba(180, 56, 252, 0.7);
}
.select{
    align-self: center;
}