body{
   background: #000;
   background-image: url("../public/background-img.webp");
   background-size: cover;
   min-width: 100vw;
   min-height: 100vh;
   background-repeat: no-repeat;
}

.nav{
   background-color:#ffc93c;
   display: flex;
   flex-direction: row;
   justify-content: flex-end;
   align-items: center;
   align-content: space-between;
   gap: 18px;
   margin-top: 0;
   padding: 8px;
   margin-bottom: 1em;
}
